ADMIN_USERNAME=
ADMIN_PASSWORD_HASH=
AUTH_SECRET=
LOCAL_ADMIN_ONLY=true
ADMIN_REGISTRATION_ENABLED=false
SITE_URL=http://localhost:3000

GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_BRANCH=main
VERCEL_DEPLOY_HOOK_URL=
